/* ARCHIVES */
.casa-item{
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 3px;
}


.casa-view-button a{
  padding: 10px;
  border: 1px solid #eee;
  background: #eee;
  color: #000;
  margin: 5px 0px;
}


/* SINGLE PAGE  */
.casa-show-property{
    width: 80%;
    margin: 0 auto;
}

.casa-property{
  padding: 10px;
  width: 59%;
  float: left;
}

.casa-sidebar{
  width: 40%;
  float: left;
}

.casa-sidebar .widget-area{
  width: 100%;
}
