/* ARCHIVES */
.casa-item{
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 3px;
}


.casa-view-button a{
  padding: 10px;
  border: 1px solid #eee;
  background: #eee;
  color: #000;
  margin: 5px 0px;
}


/* SINGLE PAGE  */
.casa-show-property{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.casa-property{
  padding: 10px;
  width: 59%;
  float: left;
  ;
}

.casa-images{
  text-align: center;
  margin-bottom: 25px;
}

.casa-image{
  width: auto;
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
}

.casa-btn-slider{
  position: absolute;
  bottom: 0px;
  padding: 10px 15px;
}

.casa-display-right{
  right: 40%;
}

.casa-display-left{
  left: 40%;
}

.casa-sidebar{
  width: 40%;
  float: left;
}

.casa-sidebar .widget-area{
  width: 100%;
}
